<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="FromBlog" value="http://fresky.github.io/"/>
        <add key="PostDir" value="D:\Software\post"/>
        <add key="ToBlog" value="http://fresky.cnblogs.com/services/metaweblog.aspx"/>
        <add key="UserName" value="fresky"/>
        <add key="Password" value=""/>
    </appSettings>
</configuration>