<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="FromBlog" value="http://fresky.github.io/"/>
        <add key="FromBlogName" value="fresky.github.io - Dawei XU"/>
        <add key="PostDir" value="D:\Private\Blog\source\_posts"/>
        <add key="PostExt" value="*.md"/>
        <add key="ToBlog" value="http://rpc.cnblogs.com/metaweblog/fresky"/>
        <add key="UserName" value="fresky"/>
        <add key="Password" value=""/>
    </appSettings>
</configuration>